.lkt-tabs {
    max-width: 100%;
}

.lkt-tabs__list {
    gap: var(--lkt-tab-gap);
    border-bottom: var(--lkt-tab-border-width) var(--lkt-tab-border-style) var(--lkt-tab-border-color);
    padding: var(--lkt-tab-padding);
    display: flex;
    overflow-x: auto;
}

.lkt-tab {
    background: var(--lkt-tab-bg);
    color: var(--lkt-tab-color);
    border: var(--lkt-tab-border-width) var(--lkt-tab-border-style) var(--lkt-tab-border-color);
    border-radius: var(--lkt-tab-border-radius);
    font-size: var(--lkt-tab-font-size);
    line-height: var(--lkt-tab-line-height);
    transition: var(--lkt-tab-transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lkt-tab.is-active {
    background: var(--lkt-tab-bg-active);
    color: var(--lkt-tab-color-active);
}

.lkt-tab:hover {
    background: var(--lkt-tab-bg-hover);
    color: var(--lkt-tab-color-hover);
}

.lkt-tab a {
    color: inherit;
    padding: var(--lkt-tab-padding);
}

.lkt-tabs--target .lkt-tab {
    color: var(--target-color);
    background: var(--target-contrast);
    border-color: var(--target-color);
}

.lkt-tabs--target .lkt-tab.is-active {
    color: var(--target-color);
    background: var(--target-contrast);
}

.lkt-tabs--alert .lkt-tab {
    color: var(--alert-color);
    background: var(--alert-contrast);
    border-color: var(--alert-color);
}

.lkt-tabs--alert .lkt-tab.is-active {
    color: var(--alert-color);
    background: var(--alert-contrast);
}

.lkt-tabs--danger .lkt-tab {
    color: var(--danger-color);
    background: var(--danger-contrast);
    border-color: var(--danger-color);
}

.lkt-tabs--danger .lkt-tab.is-active {
    color: var(--danger-color);
    background: var(--danger-contrast);
}

.lkt-tabs--success .lkt-tab {
    color: var(--success-color);
    background: var(--success-contrast);
    border-color: var(--success-color);
}

.lkt-tabs--success .lkt-tab.is-active {
    color: var(--success-color);
    background: var(--success-contrast);
}

.lkt-tabs--info .lkt-tab {
    color: var(--info-color);
    background: var(--info-contrast);
    border-color: var(--info-color);
}

.lkt-tabs--info .lkt-tab.is-active {
    color: var(--info-color);
    background: var(--info-contrast);
}

.lkt-tabs--warning .lkt-tab {
    color: var(--warning-color);
    background: var(--warning-contrast);
    border-color: var(--warning-color);
}

.lkt-tabs--warning .lkt-tab.is-active {
    color: var(--warning-color);
    background: var(--warning-contrast);
}