.lkt-tabs {
    max-width: 100%;
}

.lkt-tabs__list {
    gap: var(--lkt-tab--gap);
    border-bottom: var(--lkt-tab--border-width) var(--lkt-tab--border-style) var(--lkt-tab--border-color);
    padding: var(--lkt-tab--padding);
    display: var(--lkt-tab--list--display);
    overflow-x: auto;
}

.lkt-tab {
    background: var(--lkt-tab--background);
    color: var(--lkt-tab--color);
    border: var(--lkt-tab--border-width) var(--lkt-tab--border-style) var(--lkt-tab--border-color);
    border-radius: var(--lkt-tab--border-radius);
    font-size: var(--lkt-tab--font-size);
    line-height: var(--lkt-tab--line-height);
    transition: var(--lkt-tab--transition);
    display: var(--lkt-tab--display);
    align-items: var(--lkt-tab--align-items);
    justify-content: var(--lkt-tab--justify-content);
    cursor: pointer;
}

.lkt-tab.is-active {
    background: var(--lkt-tab--active--background);
    color: var(--lkt-tab--active--color);
}

.lkt-tab:hover {
    background: var(--lkt-tab--hover--background);
    color: var(--lkt-tab--hover-color);
}

.lkt-tab a {
    color: inherit;
    padding: var(--lkt-tab--padding);
}